.post{
    padding: 15px 0px;
  }
  .col1{
    padding: 0px 3px;
  }
  .col2{
    padding: 0px 5px;
  }
  .img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.img1{
  width: 15px;
  height: 15px;
  border-radius: 15px;
}
.img2{
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: blue;
}